@import url("https://fonts.googleapis.com/css?family=Righteous");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous',sans-serif;
}

body
{
    min-height: 100vh;
    background-image: linear-gradient(#2b1055,#7597de);
}

header
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .port
{
    color: #fff;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 25px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover
{
    background: #fff;
    color: #2b1055;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dcmain
{
    background-color: #fff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38,33,61,0.2);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
    
.wordForm
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wordForm input
{
    padding: 5px;
    width: 70%;
    border: none;
    border-bottom: 3px solid #4f5398;
    outline: none;
    font-size: 16px;
}

.wordForm button
{
    padding: 15px 0;
    width: 25%;
    background-color: #4f5398;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
}

.wordForm button:hover
{
    padding: 15px 0;
    width: 25%;
    background-color: #2b1055;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
}

.word
{
    justify-content: space-between;
    justify-content: center;
    margin-top: 25px;
    transition: 1s ease ;
}

.word .meaning
{
    margin-top:50px ;
    margin-bottom: 25px;
    padding: 15px;
    outline: none;
    border-left: 5px solid #90ee90;
    border-radius:7px ;
    transition: 1s ease-out ;
}
.word .example
{
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    border-left: 5px solid #90ee90;
    border-radius:7px ;
    transition: 1s ease-in ;
}

.word .info
{
    display: flex;
}
.word .info .phn
{
    margin-left: 15px;
}

.mean
{
    color: #000;
}

.word .syn
{
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    border-left: 5px solid #90ee90;
    border-radius:7px ;
    transition: 1s ease-in ;
}
.word .ant
{
    padding: 15px;
    outline: none;
    border-left: 5px solid #90ee90;
    border-radius:7px ;
    transition: 1s ease-in ;
}